@use "pokemonBattle.scss" as *;
@use "variables.scss" as *;
@use "pokeSpinner.scss" as *;
@use "cards.scss" as *;
@use "navBar.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16.5px;
}
body {
  @extend .press-start;

background-color: $primary-color;  

  @media only screen and (max-width: #{$size-medium}) {
    background-color: $green_color;
    }  

}
.container_game{
background-image: url(/images/pokemon-logo.png);
background-size: cover;
background-repeat: no-repeat;
background-position: start;
background-size: 18rem;
@media only screen and (max-width: #{$size-large}) {
  background-size: 20rem;
 
 }
 @media only screen and (max-width: #{$size-medium}) {
background-image: url(/images/pokemon_green.jpg);
background-size: 100%;
background-repeat: no-repeat;
background-position: start;
}  

  
}
.audio{
z-index: 1;
top:33%;
left:1%;
position: absolute;
background-image: url(/images/music.png);
background-size: 4rem;
background-position:center;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
justify-content: end;
height: 135px;
@media only screen and (max-width: #{$size-medium}) {
background-image: none;
width: 100px;
height: 90px;
top: 0%;
left: 70%;
  }  
}

audio{
height: 40px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0);
}
audio::-webkit-media-controls-panel {
  background-color: $secondary-color;
}
audio::-webkit-media-controls-play-button {
  background-color: $primary-color;
  border-radius: 50%;
}