@use "variables.scss" as *;

.navBar{
  position: relative;
  display: flex;
background-size: 10rem;
  &_color{
    background-color: $secondary-color;
  }
  img{
    padding: 1rem;
    height: 100px;
   width: 100px;
   &:hover{
     cursor: pointer;
   }
  
  }
 
  ul{
    background-color: $secondary-color;
    width: 100%;
    @media only screen and (max-width: #{$size-medium}) {
      
      border-bottom: 4px solid $transparent;
      position: absolute;
      top: 100%;
      z-index: 1;
    }
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
      gap: 5rem;
     padding: 1rem; 
    
      li{
       text-align: center;
        border-radius: 5px;
        padding: 10px;
          a{ color: inherit;
              text-decoration: none;
             
          }
      }
      @media only screen and (max-width: #{$size-medium}) {
      flex-direction: column; 
      justify-content: center;
      text-align: center;    
      font-size: 12px; 
      gap: 1rem;      
      }  
      
 }
 @media only screen and (max-width: #{$size-medium}) {
  background-color: $secondary-color;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/images/pokemon-logo.png);
   background-repeat: no-repeat;
   background-position: start;
   background-size: 9rem;
 
  img{
    padding: 0;
  }           
  }  
  
}


.nav_button{
  background-color: $secondary-color;
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.01fr;
  z-index: 1000;
  padding: 1rem;

  button{
    grid-area: 2/2;
    font-family: inherit;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    font-size: 10px;
    border-radius: 4px;
    color: $secondary-color;
    cursor: pointer;
    padding: 10px;
    @media only screen and (max-width: #{$size-medium}) {
     padding: 20px;
    }
    &:hover{
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
      color: $primary-color;
    } 
  }
  @media only screen and (max-width: #{$size-medium}) {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -0%);
    padding: 30px;
    gap: 1rem;
    box-shadow: 0 0 10px 3px $transparent;   
  }
  &-div{
   display: grid;
   grid-template-columns: 1fr 0.2fr;
   padding: 0 0 0 5rem ;
   img{
    align-self: center;
  padding: 10px; 
  }
  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 13px;
   
  } 
   @media only screen and (max-width: #{$size-medium}) {
    display: flex;
    flex-direction: column;
    align-items: center;
     padding: 0;
    }

  }
  &-text{
    color: rgb(31, 31, 31);
   display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 10px;
    a{
      color: $primary-color;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }

    @media only screen and (max-width: #{$size-medium}) {
      font-size: 12px;
      h3{
        padding: 10px;
      text-align: center;
      }
    }
    
    
  }
}
.rules{
 
  gap:15px;
 @media only screen and (max-width: #{$size-medium}){
 
  font-weight: 800;
  font-size: 12px;
  gap: 1rem;
  padding: 10px;
}
}
.aboutMe{
  align-items: center;
  img{
    @include miniCard;
    width: 10rem;
  }


}



/* ======================================================================================= */

.users{
  background-image: url(/images/pokemon-logo.png);
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: start;
  padding: 10rem 5rem;
@media only screen and (max-width: #{$size-medium}) {
  background-image: none;
}
    &_form{
   
       display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1rem;
   
      color: rgb(0, 0, 0);
      text-shadow: 4px 5px 5px $transparent;
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0.432);
  
    }
    &_avatars{
    
      border: 5px solid $secondary-color;
        background-image: url(/images/background_principal.jpg);
        background-position: center;
        background-size: center;
        border-radius:10px;
        display: flex;
        gap: 1rem;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
          
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px $primary-color;  
}
  /* Handle */
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px $primary-color;
    
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 0;
    
}

@media only screen and (max-width: #{$size-medium}) {
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px $green_color;  
    }  
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 5px $green_color;
        
      }
  }
}

&_input{
    background-color: $secondary-color;
     font-family: inherit;
     width: 80%;
     padding: 1rem;     
     border: 1px solid $secondary-color;
    border-radius: 3px;
    &:focus{
        outline: none;
    }

   
}

label{
    display: flex;
    flex-direction: column;
     gap: 1rem;
     justify-content: center;
     align-items: center;
    
}
&_button{
    background-color: $secondary-color;
    font-family: inherit;
    font-size: 15px;
    padding: 1rem;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid $secondary-color;
    &:hover{
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }

  }
  &_error{
    color: $primary-color;
    font-size: 10px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background-color: $secondary-color;
  }
}