* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #606060;
}
.containerBattle {
  position: relative;
  padding: 10vh 0;
  display: flex;
  align-items: start;
  justify-content: center;
  

}

/* loading */
.hidden {
display: none;
}
.loading{
  visibility: hidden;
pointer-events: none;
}
.loading::after {
  content: "";
  visibility: visible;
background-image: url(/src/images/Pokeball.svg);
background-repeat: no-repeat;
position: absolute;  
 border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* =============== */

.avatarImage {
 margin: 10px 10px;
  width: 150px;
  height: 150px;
  object-fit:cover;
}
.avatarImage:hover {
  cursor: pointer;
}
.avatarImage:active {
  transform: scale(0.9);
}
.selected {
  filter: brightness(0.5);
  border: 4px solid #f2404093;
}
/* =================== */
.versus {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board-row {
  display: grid;
}

.square {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0, 0%, 63%);
  border: 1px solid #0000005a;
  font-size: 0px;
  height: 8rem;
  width: 10rem;
}

.board-row:after {
  clear: both;
  content: "";
}
